<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservar probador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!reserved">
  <h3>Zaras cercanos a tu ubicación y su trafico actual:</h3>
  <div>
    <shop-item (click)="selectShop(shop)" [shop]="shop" *ngFor="let shop of shops$ | async; let i = index">
    </shop-item>
  </div>

  <select-wears *ngIf="selectedShop" (numWear)="selectedWear = $event;">

  </select-wears>
  <div class="box-rsvp" *ngIf="selectedWear">
    <h5>Reservar turno en tienda: {{selectedShop.name}}</h5>
    <h5>Numero de prendas: {{selectedWear}}</h5>
    <button (click)="reserve()" ion-button>Reservar</button>
  </div>
  </div>
  <div *ngIf="reserved">
    <ion-card>
      <ion-card-header class="header">
        Probador reservado
      </ion-card-header>
      <ion-card-content class="content">
        <p>
          Has reservado turno en <span class="shop">{{(reserve$ | async)?.name}}</span>
        </p>
        <p>
          Tu número es: <span class="number">{{(reserve$ | async)?.turn}}</span>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
