<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reserva probador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!reserved">  
  <div class="shop-container">
    Elije una tienda:
    <shop-item (click)="selectShop(shop)" [shop]="shop" *ngFor="let shop of shops$ | async; let i = index">
    </shop-item>
  </div>

  <select-wears *ngIf="selectedShop" (numWear)="selectedWear = $event;">
  </select-wears>
  <div class="box-rsvp" *ngIf="selectedWear">
    <ion-label>Reservar turno en tienda:
      <span class="bold">{{selectedShop.name}}</span>
    </ion-label>
    <ion-label>Numero de prendas:
      <span class="bold">{{selectedWear}}</span>
    </ion-label>      
    <button (click)="reserve()" ion-button>Reservar</button>
  </div>
  </div>
  <div *ngIf="reserved">
    <ion-card>
      <ion-card-header class="header">
        Probador reservado
      </ion-card-header>
      <ion-card-content class="content">
        <p>
          Has reservado turno en <span class="shop">{{selectedShop.name}}</span>
        </p>
        <p>
          Tu número es: <span class="number">{{(reserve$ | async)?.turn}}</span>
        </p>
        <p>
            Tiempo restante: <span class="number">{{waitTime | formatTime }}</span>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
