<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Rooms</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <div>
      <div (click)="selectShop(shop.id)" *ngFor="let shop of shops$ | async; let i = index">
        <h4>{{shop.name}}</h4>
        Tiempo de espera aprox en probadores: XX:XX
      </div>
    </div>
    <div class="container-bussines">
      <show-queue [length]="(queue$ | async)?.length" [time]="(queueTime$ | async)">
        <ion-list>
          <ion-item *ngFor="let user of queue$ | async ; let i = index">
            <ion-icon name="person" item-start></ion-icon>
            Turno: {{user.turn}}
            <br>
            Nº prendas: {{user.wearCount}}
            <select-wears (numWear)="modifyWears = $event;"></select-wears>
          </ion-item>
        </ion-list>
      </show-queue>
      <show-room>
        <show-room-item *ngFor="let room of rooms$ | async; let i = index" [roomId]="room.id" [occupied]="room.occupied" [turn]="room.user?.turn" [wearCount]="room.user?.wearCount" (click)="updateRoom(room.id, room.occupied)">
        </show-room-item>
      </show-room>
    </div>
  </ion-content>
